@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins.ttf);
}

* {
    overflow-x: hidden;
    text-shadow: 5px 5px 5px #1b16162f;
}

@media (max-width: 800px) {
    :root {
        --pri: #35CAC4;
        --sec: #5DD5D0;
        --ter: #278b9a;
        --var: 0;
        color: white;
        font-family: poppins;
        font-size: 1.3em;
        scroll-behavior: smooth;
    }
    .block {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 30px;
        background-color: var(--pri);
        border-radius: 50px;
        overflow: hidden;
    }
}

@media (min-width: 801px) {
    :root {
        --pri: #35CAC4;
        --sec: #5DD5D0;
        --ter: #278b9a;
        --var: 0;
        color: white;
        font-family: poppins;
        font-size: 1.5em;
        scroll-behavior: smooth;
    }
    .block {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 30px;
        max-width: 900px;
        background-color: var(--pri);
        border-radius: 50px;
        overflow: hidden;
    }
}

@media (min-width: 2000px) {
    :root {
        --pri: #35CAC4;
        --sec: #5DD5D0;
        --ter: #278b9a;
        --var: 0;
        color: white;
        font-family: poppins;
        font-size: 3.5em;
        scroll-behavior: smooth;
    }
    .block {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 30px;
        max-width: 1900px;
        background-color: var(--pri);
        border-radius: 50px;
        overflow: hidden;
    }
}

body {
    background-color: var(--sec);
    margin: 0;
    transition: 0.5s;
    overflow-x: hidden;
}

#masthead {
    margin: auto;
    background-image: url(../images/juicy.jpg);
    padding: 0;
}

/* Hide the input checkbox */
#menu {
    display: none;
}

label {
    cursor: pointer;
    display: inline-flex;
    color: #eae7e7;
}

/* Hide the menu items by default */
#menu:not(:checked) + #portal #menuitems{
    display: none;
}

#portal {
    perspective: 1000px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menuitems {
    display: block;
    position: relative;
}

#menuitems a:first-letter {
    color: #e0f1ea;
    font-size: 1.3em;
}

#menuitems:nth-child(1) {
    animation: 0.5s menu forwards;
}

#menuitems a {
    margin-left: 20vw;
}

#facts {
    background-color: #16726dd6;
    padding: 30px;
    border-radius: 50px;
}

#top {
    margin: auto;
    text-align: center;
}

header, footer {
    padding: 50px;
    background-color: var(--pri);
}

header {
    background:linear-gradient(to bottom, var(--ter), var(--pri));
}

footer {
    margin-top: -1em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

footer section {
    display: block;
}


footer h6 {
    margin:auto;
}

footer p, footer form {
    display: block;
}

footer form {
    display: flex;
    flex-direction: column;
}

textarea, input {
    border: 2px solid var(--ter);
    background-color: var(--sec);
    border-radius: 15px;
    color: #195886;
}

ul li {
    list-style-type: none;
}

ol li {
    list-style-type: none;
}

ol li:first-letter {
    font-size: 1.3em;
    color:#bdeeed;
}

a {
    color: white;
    text-decoration: none;
}

svg {
    fill: var(--pri);
    animation: drop 5s infinite ease-in-out;
    max-width: 100%;
    overflow: hidden;
}

.fadein {
    opacity: 0;
    transition: opacity 1.5s;
}

.loaded {
    opacity: 1;
}

.slidein {
    transform: translateX(-300px);
    /* transition: transform 1s; */
}

.slideinR {
    transform: translateX(300px);
    /* transition: transform 1s; */
}

.slide {
    animation: 1s forwards 0s 1 slideInFromLeft;
}

.slideR {
    animation: 1s forwards 0s 1 slideInFromRight;
}

section h1 {
    text-align: center;
}

#nutrition p {
    margin: 5px;
    font-size: 0.5em;
    display: inline;
}

#nutrition > span {
    font-size: 0.9em;
}

#nutrition > span > span {
    font-size: 1.1em;
    color:#bdeeed;
}

#nutrition #scroller {
    max-height: 1.5em;
    animation: scroller 10s cubic-bezier(.47,.58,1,.67) infinite;
    word-break: break-all;
    overflow: hidden;
}

#nutrition #scrollerText {
    max-height: 1.5em;
}

#products menu {
    padding: 0px;
}

menu {
    display: flex;
}

menu ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

menu ul > li {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

menu ul li a {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 50px;
}

menu ul li {
    transition: 0.5s;
    border-radius: 50px;
    box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.412);
}

.itemwrapper {
    border-radius: 50px;
    background-color: #0e8f8965;
}

menu ul li:hover {
    background-size: 110% !important;
    background-position: 50%;
}

#item1 {
    background-image: url(../images/gummies.webp);
    background-size: 100%;
}

#item2 {
    background-image: url(../images/gum.webp);
    background-size: 120%;
}

#item3 {
    background-image: url(../images/stix.webp);
    background-size: 100%;
}

#item4 {
    background-image: url(../images/pop.jpg);
    background-size: 170%;
}

@keyframes drop {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.5);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes menu {
    0% {
        left: -1000px;
        transform: scale(0.2);
    }
    100% {
        transform: scaleX(1);
        left: 0px;
        
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scroller {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -1050px;
    }
}